.login-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
